flows_node-red.json
[{"id":"654cb5aa.49deec","type":"tab","label":"nova","disabled":true,"info":""},{"id":"b297a09c.0d22d","type":"mqtt in","z":"654cb5aa.49deec","name":"","topic":"jarak","qos":"2","datatype":"auto","broker":"24c335ef.032c5a","x":50,"y":20,"wires":[["ac689f13.6f49f","a4d2859.0a42878","1ee746db.6f46e9"]]},{"id":"1ca8983a.d1e438","type":"mqtt in","z":"654cb5aa.49deec","name":"","topic":"beban","qos":"2","datatype":"auto","broker":"24c335ef.032c5a","x":50,"y":100,"wires":[["ac689f13.6f49f","7dcf1e1b.b1b05","aaf31f62.bb263","89229a9.3c4ae68","f6af59a8.aa8838"]]},{"id":"1072d3c1.bc824c","type":"mqtt out","z":"654cb5aa.49deec","name":"","topic":"servo","qos":"","retain":"","broker":"24c335ef.032c5a","x":640,"y":140,"wires":[]},{"id":"ac689f13.6f49f","type":"join","z":"654cb5aa.49deec","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":260,"y":180,"wires":[["f59da557.5d1008"]]},{"id":"a4d2859.0a42878","type":"ui_gauge","z":"654cb5aa.49deec","name":"","group":"6cc58520.b86d9c","order":3,"width":"7","height":"5","gtype":"gage","title":"Jarak","label":" cm","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":260,"y":20,"wires":[]},{"id":"7dcf1e1b.b1b05","type":"ui_gauge","z":"654cb5aa.49deec","name":"","group":"3436c057.2291","order":4,"width":"7","height":"5","gtype":"gage","title":"Beban","label":" g","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":260,"y":100,"wires":[]},{"id":"f6af59a8.aa8838","type":"function","z":"654cb5aa.49deec","name":"ifelse","func":"var beban = msg.payload\n\nif (beban >5) {\n    msg.payload = 1\n    return msg\n} else {\n    msg.payload = 0\n    return msg\n}\nreturn msg","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["444e9dca.7dbda4"]]},{"id":"f59da557.5d1008","type":"function","z":"654cb5aa.49deec","name":"database","func":"var aksi = msg.payload.aksi\nvar jarak = msg.payload.jarak\nvar beban = msg.payload.beban\n\nif(aksi === true){\n    msg.topic = \"insert into data(jarak,beban)values(\"+jarak+\",\"+beban+\")\"\n    return msg\n}\n","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["2c7c2a3e.018cb6"]]},{"id":"33ca813b.937bfe","type":"ui_switch","z":"654cb5aa.49deec","name":"","label":"Kirim Database","tooltip":"","group":"341e90ba.d2b9a","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"aksi","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":180,"wires":[["ac689f13.6f49f"]]},{"id":"2c7c2a3e.018cb6","type":"mysql","z":"654cb5aa.49deec","mydb":"fb11816e.3f44f","name":"","x":620,"y":180,"wires":[[]]},{"id":"1ee746db.6f46e9","type":"ui_chart","z":"654cb5aa.49deec","name":"","group":"6cc58520.b86d9c","order":1,"width":"7","height":"4","label":"Jarak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":260,"y":60,"wires":[[]]},{"id":"aaf31f62.bb263","type":"ui_chart","z":"654cb5aa.49deec","name":"","group":"3436c057.2291","order":2,"width":"7","height":"4","label":"Beban","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":260,"y":140,"wires":[[]]},{"id":"3345b5bd.8819da","type":"ui_template","z":"654cb5aa.49deec","group":"341e90ba.d2b9a","name":"","order":2,"width":"14","height":"6","format":"<table border=1>\n    <tr>\n        <th>No.</th>\n        <th>Jarak</th>\n        <th>Beban</th>\n    </tr>\n    <tr ng-repeat = \"x in msg.payload\">\n        <td>{{ $index+1 }}</td>\n        <td>{{ x.jarak }}</td>\n        <td>{{ x.beban }}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":230,"wires":[[]]},{"id":"89229a9.3c4ae68","type":"function","z":"654cb5aa.49deec","name":"query select","func":"msg.topic = \"select * from data\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":230,"wires":[["d513fe38.e46f"]]},{"id":"d513fe38.e46f","type":"mysql","z":"654cb5aa.49deec","mydb":"fb11816e.3f44f","name":"","x":460,"y":230,"wires":[["3345b5bd.8819da"]]},{"id":"444e9dca.7dbda4","type":"ui_switch","z":"654cb5aa.49deec","name":"","label":"Servo","tooltip":"","group":"341e90ba.d2b9a","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"trigger","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":520,"y":140,"wires":[["1072d3c1.bc824c"]]},{"id":"71c8922c.572e1c","type":"ui_button","z":"654cb5aa.49deec","name":"","group":"341e90ba.d2b9a","order":3,"width":"4","height":"1","passthru":false,"label":"Reset DB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":60,"y":270,"wires":[["d105da9.a55fa28"]]},{"id":"d105da9.a55fa28","type":"function","z":"654cb5aa.49deec","name":"query reset db","func":"if(msg.payload === \"reset\"){\n    msg.topic = \"truncate data;\"\n    return msg\n}","outputs":1,"noerr":0,"x":250,"y":310,"wires":[["8d6b5d58.35241"]]},{"id":"8d6b5d58.35241","type":"mysql","z":"654cb5aa.49deec","mydb":"fb11816e.3f44f","name":"","x":440,"y":310,"wires":[[]]},{"id":"24c335ef.032c5a","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.139","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6cc58520.b86d9c","type":"ui_group","z":"","name":"Jarak","tab":"ced2c5ed.9127a8","disp":true,"width":"7","collapse":false},{"id":"3436c057.2291","type":"ui_group","z":"","name":"Beban","tab":"ced2c5ed.9127a8","disp":true,"width":"7","collapse":false},{"id":"341e90ba.d2b9a","type":"ui_group","z":"","name":"Database","tab":"ced2c5ed.9127a8","disp":true,"width":"14","collapse":false},{"id":"fb11816e.3f44f","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ta_nova","tz":""},{"id":"ced2c5ed.9127a8","type":"ui_tab","z":"","name":"Tugas Akhir Nova","icon":"dashboard","disabled":false,"hidden":false}]